@media only screen
and (min-device-width: 10px)
and (max-device-width: 485px)
and (-webkit-min-device-pixel-ratio: 1) {

  .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

  body {
    padding: 0;
  }

  .row {
    content: "";
    clear: both;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -5%;
  }

  [class*="col-"] {
    float: left;
    padding: 4px;
    text-align: center;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header {

  }

  .navbar-default .imgOp1 {
    position: relative;
    top: -37px;
    left: 10%;
    transform: scale(0.7);
  }

  .navbar-default .imgOp2 {
    position: relative;
    top: -37px;
    left: 920%;
    transform: scale(0.55);

  }

  .container .jumbotron, .container-fluid .jumbotron {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    padding-top: 0;
  }

  .menuitem1 {
    position: absolute;
    width: 44px;
    left: 10%;
    top: 2px;
    height: 99px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .menuitem2 {
    position: absolute;
    width: 44px;
    left: 77%;
    top: 1px;
    height: 99px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .menuitem3 {
    position: absolute;
    width: 42px;
    left: 87%;
    top: 1px;
    height: 99px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .buttonlar {
    width: 100%;
    height: 35px;
    background-size: cover;
    padding-top: 5%;
  }

  .magazalar {
    width: 100%;
    height: 35px;
    background-size: cover;
    padding-top: 2%;
    border: 1px solid red;
  }

  .navbar-default .imgOp3 {
    position: relative;
    top: -37px;
    left: 884%;
    transform: scale(0.5);

  }

  .navbar-default .textclipper {
    width: 53%;
    left: 27%;
    white-space: pre;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    position: absolute;
    text-overflow: ellipsis;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    float: left;
    margin-right: 0px;
    height: 30px;
    width: 44px;
  }

  .navbar-default .navbar-toggle2 {
    border-color: transparent;
    float: right;
    margin-right: 0px;
  }

  .navbar-default .navbar-ikon {
    margin-top: 0;
    margin-left: 0;
    margin-right: 4%;
    margin-bottom: 0;
    padding: 0;

  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-default .navbar-toggle .icon-bar {
    color: white;
    background-color: white;
  }

  .marketing,
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Custom page header */
  .header {
    /*
    border-bottom: 1px solid #e5e5e5;
    */
    margin-bottom: 10px;
  }

  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  /* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }

  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-style: groove;
    border-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;
  }

  .marketing p + h4 {
    margin-top: 28px;
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .container {
      max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-left: 0;
      padding-right: 0;
    }

    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }

}

@media only screen
and (min-device-width: 486px)
and (max-device-width: 1920px)
and (-webkit-min-device-pixel-ratio: 1) {

  .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

  body {
    padding: 0;
  }

  .row {
    content: "";
    clear: both;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -5%;
    visibility: hidden;
  }

  [class*="col-"] {
    float: left;
    padding: 4px;
    text-align: center;
    visibility: hidden;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header {
    visibility: hidden;

  }

  .navbar-default .imgOp1 {
    position: relative;
    top: -37px;
    left: 10%;
    transform: scale(0.7);
    visibility: hidden;

  }

  .navbar-default .imgOp2 {
    position: relative;
    top: -37px;
    left: 920%;
    transform: scale(0.55);
    visibility: hidden;

  }

  .container .jumbotron, .container-fluid .jumbotron {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    padding-top: 0;
    visibility: hidden;

  }

  .navbar-default .imgOp3 {
    position: relative;
    top: -37px;
    left: 884%;
    transform: scale(0.5);
    visibility: hidden;

  }

  .navbar-default .textclipper {
    width: 53%;
    left: 27%;
    white-space: pre;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    position: absolute;
    text-overflow: ellipsis;
    visibility: hidden;

  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    float: left;
    margin-right: 0px;
    height: 30px;
    width: 44px;
    visibility: hidden;

  }

  .navbar-default .navbar-toggle2 {
    border-color: transparent;
    float: right;
    margin-right: 0px;
    visibility: hidden;

  }

  .navbar-default .navbar-ikon {
    margin-top: 0;
    margin-left: 0;
    margin-right: 4%;
    margin-bottom: 0;
    padding: 0;
    visibility: hidden;

  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    visibility: hidden;

  }

  .navbar-default .navbar-toggle .icon-bar {
    color: white;
    background-color: white;
    visibility: hidden;

  }

  .marketing,
  .footer {
    padding-left: 15px;
    padding-right: 15px;
    visibility: hidden;

  }

  /* Custom page header */
  .header {
    /*
    border-bottom: 1px solid #e5e5e5;
    */
    margin-bottom: 10px;
    visibility: hidden;

  }

  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    visibility: hidden;

  }

  /* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }

  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-style: groove;
    border-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;
  }

  .marketing p + h4 {
    margin-top: 28px;
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .container {
      max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-left: 0;
      padding-right: 0;
    }

    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }

}
