<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="alegraBauhausApp" ng-style="{'background-color' : gelenData.background_colour}">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header" ng-style="{'background-color' : gelenData.header.data.background_colour}">

            <button type="button" class="navbar-toggle collapsed" ng-style="{'background-color' : gelenData.header.data.background_colour}" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="menuitem1" ng-style="{'background-image': 'url(' + gelenData.header.data.left_link_2.data.image + ')'}"></div>
            <div class="menuitem2" ng-style="{'background-image': 'url(' + gelenData.header.data.right_link_2.data.image + ')'}"></div>
            <div class="menuitem3" ng-style="{'background-image': 'url(' + gelenData.header.data.right_link_1.data.image + ')'}"></div>
            <div class="textclipper" ng-style="{'color': gelenData.header.data.title_c.text_colour, 'font-family' : '{{gelenData.header.data.title_c.font}}, sans-serif ', 'font-size' : gelenData.header.data.title_c.text_size}">{{urunIsmi}}
              <a class="navbar-brand" href="#/" ></a>
            </div>
            </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Menü İçeriği 1</a></li>
              <li><a ng-href="">Menü İçeriği 2</a></li>
              <li><a ng-href="">Menü İçeriği 3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div style="margin-top: -10px;" ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
