<div class="jumbotron" ng-style="{'border-color' : prDetailStyle2.data.border_colour}">
  <img ng-show="prDetailStyle2.data.images[0]" width="100%" src="" ng-src="{{prDetailStyle2.data.images[0]}}"><br>

  <p ng-show="!prDetailStyle2.data.images[0]">Ürün Resmi Gelen Datalarda Mevcut Değildir</p>
  <p class="lead" ng-style="{'font-size' : prDetailStyle2.data.text_left_top.text_size + 'px', 'color' : prDetailStyle2.data.text_left_top.text_colour}">
    <br>
    {{prDetailStyle2.data.text_left_top.text}}
  </p>
  <div ng-show="prDetailStyle2.data.text_left_bottom"
       ng-style="{'font-size' : prDetailStyle2.data.text_left_bottom.text_size + 'px', 'color' : prDetailStyle2.data.text_left_bottom.text_colour}" class="lead">
    <br>
    {{prDetailStyle2.data.text_left_bottom.text}} TL
  </div>
  <div ng-show="!prDetailStyle2.data.text_left_bottom"
       ng-style="{'font-size' : prDetailStyle2.data.text_left_bottom.text_size + 'px', 'color' : prDetailStyle2.data.text_left_bottom.text_colour}" class="lead">
    <br>
    Fiyat Girilmemiş
  </div>
</div>

<div class="row">

  <div class="col-6" ng-repeat="x in prButtonArray">
    <div ng-style="{'color' : x.data.title_c.text_colour, 'background-image' : 'url('+ x.data.image + ')', 'font-size' : x.data.title_c.text_size + 'px'}" class="buttonlar">{{x.data.title_c.text}}</div>
  </div>

</div>
<br>

<div class="row">

  <div class="col-12" >
    <div class="magazalar" ng-style="{'border' : '1px solid' + prDetailShopListButton.params.right_border_colour, 'font-weight' : prDetailShopListButton.params.right_font, 'color' : prDetailShopListButton.params.right_text_colour}">{{prShopArray.data.text}}</div>
  </div>

</div>
<br>
<br>
<div class="row">

  <div class="col-4" style="text-align: left; font-weight: bold" >
      {{prRightDescText.data.title_c.text}}
  </div>
  <div class="col-8" style="text-align: right" >
      {{prRightDescText.data.text_c.text}}
  </div>

</div>

<div class="row">

  <div ng-style="{'font-size' : prExpandableData.data.text_c.text_size, 'font-family' : '{{prExpandableData.data.title_c.font}}, sans-serif '}" class="col-12" style="text-align: left" >
    {{prExpandableData.data.title_c.text}}<br><br>
    {{prExpandableData.data.text_c.text}}
  </div>

</div>


